.auth {
    height: 370px;
    width: 380px;
}

#user-email {
    background-image: url(../img_for_signin_signup/email.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 7px;
}

#user-password {
    background-image: url(../img_for_signin_signup/lock.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 7px;
}

#user-email:focus, #user-password:focus {
    background-image: none;
}

@media all and (max-width: 400px) {

    .auth {
        height: 350px;
        width: 300px;
    }
} 