#slider {
    width: 100%;
    position: relative;
    background-color: white;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
}

#slides {
    max-width: 100%;
    margin: 0;
}

#slides img {
    width: 100%;
    animation: fadein 0.5s;
    margin-bottom: -4px;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 68px;
    height: 68px;
    transition-duration: 0.5s;
    border-radius: 50%;
    margin: auto 7px;
    background-position: center;
}

#prev {
    background-image: url(../img/arrowLeft.png);
}

#next {
    right: 0;
    background-image: url(../img/arrowRight.png);
}

#prev:hover {
    margin-left: 4px;
    transition-duration: 0.ss;
    background-image: url(../img/arrowLeftBlue.png);
}

#next:hover {
    margin-right: 4px;
    transition-property: 0.5s;
    background-image: url(../img/arrowRightBlue.png);
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: rgb(43, 36, 36);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-bottom: -3px;
}

.activeDot {
    background-color: #bbb;
}

.active, dot:hover {
    background-color: #717171;
}

@keyframes fadein {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

@media all and (max-width: 800px) {
    #prev {
        width: 34px;
        height: 34px;
        background-image: url(../img/arrowLeftS.png);
    }
    
    #next {
        width: 34px;
        height: 34px;
        background-image: url(../img/arrowRightS.png);
    }
    
    #prev:hover {
        background-image: url(../img/arrowLeftBlueS.png);
    }
    
    #next:hover {
        background-image: url(../img/arrowRightBlueS.png);
    }
}
