main {
    position: relative;
    margin: 25px auto;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 1355px;
}

.thumbnail-video-container {
    width: 320px;
    cursor: pointer;
    box-shadow: 0px 35px 65px -29px rgba(170,255,43,0.75);
    margin: 7px;
    height: 270px;
    background-color: rgb(224, 220, 182);
    border: outset 2px gray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.thumbnail-video-title {
    padding: 5px;
    font-weight: normal;
    margin-top: -4px;
    line-height: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thumbnail-video-button {
    position: absolute;
    top: 55px;
    background-image: url(../img/play1.png);
    height: 54px;
    width: 77px;  
}

.modal-dialog {
    width: 840px;
}

@media all and (max-width: 1384px) {
    main {
        max-width: 1015px;
    }
}

@media all and (max-width: 1046.5px) {
    main {
        max-width: 678px;
    }
}

@media all and (max-width: 708px) {
    main {
        max-width: 339px;
    }
}