main {
    position: relative;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail-video-container {
    width: 320px;
    cursor: pointer;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.65);
    margin: 7px;
    height: 270px;
    background-color: rgb(224, 220, 182);
    border: outset 2px gray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail-video-title {
    padding: 5px;
    font-weight: normal;
    margin-top: -4px;
    line-height: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.thumbnail-video-button {
    position: absolute;
    top: 55px;
    background-image: url(../img/play1.png);
    height: 54px;
    width: 77px;  
}

.modal-dialog {
    width: 840px;
}

@media all and (max-width: 1046px) {
    main {
        justify-content: space-around;
    }
}